body {
	background-color: #e5e5e5;
	font-family: 'Crimson Text', serif;
	color: #444;
}

img {
	max-width: 100%;
	height: auto;
}
#ie8 img {
	width: auto;
}

h1 {
	font-size: 44px;
	font-weight: 900;
	line-height: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

code, pre, .code {
	font-family: "Droid Sans Mono", monospace;
}

p, pre {
	line-height: 1.5em;
}

ol, ul {
	padding: 0 0 0 10px;
	list-style: none;
}

li {
	margin-bottom: 10px;
}

a {
	color: #08c;
	text-decoration: underline;
}
a:hover {
	color: #005580;
}
a:visited {
	color: #005580;
}

#menu {
	height: 28px;
	background: #333;
}

#book-title {
	margin: 0 auto;
	width: 480px;
}
#book-title h1 {
	margin-bottom: 0;
	text-align: center;
	font-size: 48px;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1)
}

#chapter, #toc {
	position: relative;
	width: 480px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#toc h1 {
	text-align: center;
}

.chapter-nav {
	position: relative;
	background: #585858;
	text-align: center;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}
.chapter-nav a {
	display: block;
	padding: 5px 10px;
	font-weight: 700;
	color: #ddd;
	text-decoration: underline;
}
.chapter-nav a:hover {
	color: #fff;
}
.chapter-nav a.prev {
	position: absolute;
	top: 0;
	left: 0;
}
.chapter-nav a.next {
	position: absolute;
	top: 0;
	right: 0;
}

#content {
	padding: 20px;
}

#toc-list {
	padding-left: 40px;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-weight: 700;
	list-style-type: decimal;
}
#toc-list a {
	text-decoration: none;
}
#toc-list a:hover {
	text-decoration: underline;
}
#toc-list ol {
	padding-left: 20px;
}
#toc-list > li {
	font-size: 22px;
}
#toc-list li li {
	list-style-type: circle;
	font-size: 16px;
}

#footer {
	padding: 20px 10px 10px;
	background: #585858;
}
#footer p {
	margin-top: 0;
	text-align: center;
	color: #ddd;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-size: 75%;
}
#footer a {
	color: #fff;
	text-decoration: underline;
}
