{{>global_header}}

<header id="book-title">
	<h1>{{book.title}}</h1>
</header>

<div id="cover">
	{{>chapter_nav}}

	<img src="static/img/cover.jpg">

	{{>chapter_nav}}

	<footer id="footer">
		<p>
			&copy; 2012 {{book.author}}. Semua Hak Cipta Dilindungi.
			Buku ini dipublikasikan menggunakan lisensi
			<a href="{{book.license_url}}">{{book.license}}</a> dan
			ditulis menggunakan bantuan perangkat lunak terbuka
			<a href="#">buku-template</a>. Kesalahan tulisan,
			permintaan materi tambahan, dan sejenisnya dapat diajukan
			melaui pengisian <a href="#">issue di Github</a>
		<p>
	</footer>
	<!-- / footer -->
</div>

{{>global_footer}}