<!DOCTYPE html>
<!--[if IE 6]><html id="ie6" dir="{{book.lang_dir}}" lang="{{book.lang}}"><![endif]-->
<!--[if IE 7]><html id="ie7" dir="{{book.lang_dir}}" lang="{{book.lang}}"><![endif]-->
<!--[if IE 8]><html id="ie8" dir="{{book.lang_dir}}" lang="{{book.lang}}"><![endif]-->
<!--[if gt IE 8]><!--><html dir="{{book.lang_dir}}" lang="{{book.lang}}"><!--<![endif]-->
<head>
	<title>{{book.title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic|Crimson+Text:400,600" rel="stylesheet" type="text/css">
	<link href="static/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="static/css/buku.css" rel="stylesheet" type="text/css">
	<link href="static/css/codehilite.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="static/favicon.png">
	<!--[if lt IE 9]>
     <script src="js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
